:root{
    --navColor: rgba(0,0,0,.7);
    --background : #F7E2E2;
    --generalShadow :0 10px 50px rgb(180, 180, 180) ;
    --generalTransition : all ease 0.3s;
}
html{
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

body{
    padding-top: 55px;
    background-color: var(--background);
    overflow-x: hidden;
}


section{
    margin: 3rem 0;
}

/* NAVBAR START */
#mainNav{
    display: flex;
    min-height: 55px;
    justify-content: space-between;
    align-items: center;
    padding: 0 19rem;
    background-color: rgb(238,238,238);
    color: var(--navColor);
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: var(--generalShadow);
}

#mainNav a{
    text-decoration: none;
    color: black;
}

#nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: gray;
    font-size: 15px;
}

#logo{
    font-size: 1.3rem;
}

.nav-link{
    transition: 0.7s ease;
}
.hamburger{
    display: none;
    cursor: pointer;
    border-radius: 1px;
    border: 1px solid rgb(216, 216, 216);
    padding: 0 0.5rem;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: gray;
}

/* NAVBAR END*/




/* CAROUSEL START */
/* Slideshow container */
.slideshow-container {
    margin: 0 auto;
    position: relative;
    width: 100vw;
    height: 520px;
    /* border: 1px solid red; */
    
  }
  
.slideshow-img{
    object-fit: fill;
    height: 520px;
    width: 100%;
    object-position: top;  
}

  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    /* border: 1px solid red; */
    top: 45%;
    width: auto;
    /* margin-top: -22px; */
    padding: 16px;
    color: white;
    font-weight: lighter;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev{
    left: 120px;
  }
  
  /* Position the "next button" to the right */
  .next{
    right: 120px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
   color: gray;
  }
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  #dot-container{
    /* border: 1px solid red; */
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 540px;
    margin-left: auto; 
    margin-right: auto; 
    width: auto;
  }
  .dot {
    cursor: pointer;
    height: 3px;
    width: 35px;
    margin: 0 2px;
    background-color: rgb(183, 183, 183);
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: white;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 0.7s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* CAROUSEL END */




/* ABOUT US START */
#aboutUs{
   display: flex;
   flex-wrap: wrap;
   width: 65vw;
   margin: 3rem auto;
   padding:  0 8rem 0 2rem;
   background-color: #EEEEEE;
   border-radius: 5px;
   justify-content: space-between;
   align-items: stretch;
   box-shadow: var(--generalShadow);
}

.aboutUs__content{
    width: 30vw;
    min-width: 50%;
    margin-top: 1rem;
}
.aboutUs__content h2{
    font-size: 2.5rem;
    font-weight: 500;
}
.aboutUs__content h2,p{
    margin-bottom: 20px;
}

.aboutUs__content p{
    line-height: 1.4rem;
}

#aboutUs img{
   width: 378px;
    height: 554px;
    margin: 1.5rem 0;
}
/* ABOUT US END */


/* SERVICES START */
#services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services h2{
    font-size: 2.5rem;
    font-weight: 500;
}

.service__cards{
    margin: 0 auto;
    width: 70vw;
    padding: 2rem;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,290px);
    justify-content: center;
    column-gap: 120px;
    row-gap:30px;
    align-content: center;
    position: relative;
}
.service__cards article{
    height: auto;
    background-color: #EEEEEE;
    border-radius: 5px;
    box-shadow: var(--generalShadow);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.service__cards article img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.service__cards article h3{
    font-weight: 500;
}

.service__cards  p,.service__cards a,.service__cards h3{
    margin: 0 1rem;
}

.service__cards article a{
    border: none;
    outline: none;
    background-color: #1A132F;
    color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--generalFont);
}
/* SERVICES END */



/* CONTACT US START */
#contactUs{
    background-color: #eeeeee;
    margin: 3rem auto;
    width: 70vw;
    border-radius: 10px;
    padding: 2rem;
    height: auto;
    display: grid;
    grid-template-columns: 75% 25%;
    justify-items: center;
    position: relative;
}
#contactUs h3{
    font-size: 2.5rem;
    font-weight: 500;
    grid-column: 1/3;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}
#contactUs p{
    grid-column: 1/3;
    width: 50%;
    text-align: center;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    margin: 0 auto;
    margin-bottom: 3rem;
}
#contactUs form{
    grid-column: 1/2;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.5rem;
}

#name,.l4,.l3,.l1{
    grid-column: 1/2;
}

.l1,.l2,.l3{
    margin-bottom: 2.5rem;
}
.l4{
    margin-bottom: 1rem;
}
#email{
    grid-column: 2/3;
    grid-row: 1/2;
}

#subject,#message{
    grid-column: 1/3;
}

.contactUs__btn{
    font-size: 1rem;
    padding: 0.6em;
    grid-column: 1/3;
    color: white;
    border: none;
    outline: none;
    background-color: #1A132F;
    border-radius: 5px;
}
textarea{
    resize: vertical;
    border: 1px solid rgb(211, 211, 211);
}

#contactUs form input{
    padding: 0.7rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
}


.contact__info,.contact__info span{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact__info{
    padding: 1.5rem;
    padding-top: 0;
    justify-content: flex-start;
    row-gap: 1.5rem;
}
.contact__info span{
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
}
.contact__info a{
    color: black;
}
/* CONTACT US END */


/* SOCIAL SECTION START */
#social{
    width: 100%;
    height: 120px;
    background-color: rgb(91,125,177);
    padding: 0 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 1rem;
    margin-bottom: 0;
}
#social li{
    list-style-type: none;
}

#social ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

/* SOCIAL SECTION END */


/* FOOTER START */
footer{
    width: 100%;
    height: auto;
    background-color: #ECEFF1;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 3rem 13rem;
}

footer div{
    display: flex;
    flex-direction: column;
    width: 300px;
 
}

.footer__description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.footer__description hr{
    margin-bottom: 1.5rem;
}

#footer__content div a{
    color: black;
}
#footer__content div hr{
    width: 60px;
    color: rgb(145, 145, 145);
    height: 3px;
    background-color: rgb(162, 162, 162);
    border: none;
    outline: none;
}
#footer__content div h3{
    font-size: 1rem;
}
.footer__pages hr{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.footer__pages ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__links ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__links ul li a{
    text-decoration: none;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    /* justify-content: center; */
}

/* FOOTER END */


/* Media Queries */
@media (max-width: 1680px){
    .service__cards{
        width: 90vw;
    }
    #aboutUs{
        width: 70vw;
    }
}
@media (max-width: 1400px) {

    #mainNav{
        padding: 0 7rem;
    }

    .service__cards{
        width: 90vw;
    }
    footer{
        padding: 2rem 5rem;
    }
    #aboutUs{
        padding-left: 2rem;
        padding-right: 2rem;
        width: 70vw;
     }
     #aboutUs img{
        width: 328px;
         height: 470px;
     }
  }

  @media (max-width: 1200px) {

    footer{
        padding: 2rem;
    }
    
    #contactUs{
        width: 85vw;
    }

    .service__cards{
        width: 80vw;
    }

    #aboutUs{
        flex-direction: column;
        align-items: center;
        padding: 2rem auto;
        width: 70vw;
    }

    .aboutUs__content{
        width: 100%;
        /* align-self: stretch; */
    }
    #mainNav{
        padding: 0 8rem;
    }
    #contact-us-container{
        width: 70vw;
        height: 750px;
    }
    .contact-us-header p{
        max-width: 60%;
    }
    #contact-us-container form{
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    #social-links{
        width: 350px;
    }
  }
  @media (max-width: 992px) {
        /* NAVBAR RESPONSIVE  */
        .hamburger{
            display: block;
            position: absolute;
            right: 15%;
            top: 15px;
        }
        .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
        #nav-menu{
            position: fixed;
            top: -500px;
            gap: 0;
            left: 0;
            flex-direction: column;
            background-color: #eeeeee;
            width: 100%;
            text-align: center;
            transition: 0.5s;
            transition: opacity 1s ease;
            opacity: 0;
        }
        .nav-item{
            margin : 16px 0;
        }
        #nav-menu.active{
            top: 50px;
            opacity: 1;
            width: 100vw;
        }

        /* NAVBAR RESPONSIVE  */

        .service__cards{
            width: 100vw;
        }

        #footer__content{
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            gap: 2rem;
        }

        #footer__content div{
            align-items: center;
        }
        #footer__content div ul{
            align-items: center;
        }
        #contactUs{
            width: 100vw;
            padding: 1rem 0.3rem;
        }
        .contact__info{
            padding: 0;
        }
    
        .footer__description{
            text-align: center;
            width: 70%;
        }
        #aboutUs img{
            width: 60%;
            height: auto;
        }
    
        #mainNav{
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;
            padding: 0;
        }

        #logo{
            position: absolute;
            top: 15px;
            left: 10%;
        }

        #social{
            align-items: center;
            height: auto;
            padding: 2rem;
        }

        #social ul{
            width: 200px;
        }
  }
  @media (max-width: 770px) {

    .service__cards{
        width: 80vw;
    }


    #contactUs,#contactUs form{
        display: flex;
        flex-direction: column;
    }

    #contactUs{
        gap: 1rem;
        padding-bottom: 2rem;
    }
    #contactUs p{
        width: 70%;
    }
   
    .prev{
        left: 15px;
      }
      .next {
        right: 15px;
      }

    #contact-us-container{
        padding: 1rem 0;
        gap: 2rem;
        width: 70vw;
    }

    #contact-us-container form{
        padding: 0 1rem;
    }

    .contact-us-info{
        display: flex;
        flex-direction: column;
    }
  }
  @media (max-width: 400px) {
    #aboutUs{
        width: 90vw;
        padding: 2rem;
    }
 }